.deps
.libs

*.la
*.lo

Makefile
/config.log
/config.status
/libtool
/xorg-server.pc

/doc/Xinput.html
/doc/Xinput.txt
/doc/Xserver-spec.html
/doc/Xserver-spec.txt
/hw/kdrive/fbdev/Xfbdev
/hw/dmx/doxygen/doxygen.conf
/hw/xfree86/common/xf86Build.h
/hw/xfree86/sdksyms.dep
/include/stamp*
/include/dix-config.h
/include/do-not-use-config.h
/include/kdrive-config.h
/include/version-config.h
/include/xkb-config.h
/include/xorg-config.h
/include/xorg-server.h
/include/xwin-config.h
/man/Xserver.1
/test/list
/test/string
/test/touch
/xserver.ent
