<service-group>

  <name replace-wildcards="yes">http on %h</name>

  <service>
    <type>_http._tcp</type>
    <port>80</port>
  </service>

</service-group>

