ACTION=="remove", GOTO="tty_end"
SUBSYSTEM!="tty", GOTO="tty_end"

SUBSYSTEMS=="usb", ATTRS{idVendor}!="", ATTRS{idProduct}!="", ENV{ID_VENDOR_ID}="$attr{idVendor}", ENV{ID_MODEL_ID}="$attr{idProduct}"
SUBSYSTEMS=="usb", ENV{ID_USB_INTERFACE_NUM}="$attr{bInterfaceNumber}" 
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", DRIVERS=="sierra", ACTION=="add", ENV{ID_VENDOR_ID}=="1199", ENV{ID_MODEL_ID}=="68a3", ENV{ID_USB_INTERFACE_NUM}=="00", KERNELS=="2-1:1.*", SYMLINK+="tty3G0"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", DRIVERS=="sierra", ACTION=="add", ENV{ID_VENDOR_ID}=="1199", ENV{ID_MODEL_ID}=="68a3", ENV{ID_USB_INTERFACE_NUM}=="01", KERNELS=="2-1:1.*", SYMLINK+="tty3G1"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", DRIVERS=="sierra", ACTION=="add", ENV{ID_VENDOR_ID}=="1199", ENV{ID_MODEL_ID}=="68a3", ENV{ID_USB_INTERFACE_NUM}=="02", KERNELS=="2-1:1.*", SYMLINK+="tty3G2"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", DRIVERS=="sierra", ACTION=="add", ENV{ID_VENDOR_ID}=="1199", ENV{ID_MODEL_ID}=="68a3", ENV{ID_USB_INTERFACE_NUM}=="03", KERNELS=="2-1:1.*", SYMLINK+="ttyATCMD"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", DRIVERS=="sierra", ACTION=="add", ENV{ID_VENDOR_ID}=="1199", ENV{ID_MODEL_ID}=="68a3", ENV{ID_USB_INTERFACE_NUM}=="04", KERNELS=="2-1:1.*", SYMLINK+="tty3G3"
SUBSYSTEMS=="usb", KERNEL=="ttyACM*", DRIVERS=="cdc_acm", ACTION=="add", ENV{ID_VENDOR_ID}=="1519", ENV{ID_MODEL_ID}=="0302", ENV{ID_USB_INTERFACE_NUM}=="00", KERNELS=="2-1:1.*", SYMLINK+="ttyATCMD"
SUBSYSTEMS=="usb", KERNEL=="ttyACM*", DRIVERS=="cdc_acm", ACTION=="add", ENV{ID_VENDOR_ID}=="1519", ENV{ID_MODEL_ID}=="0302", ENV{ID_USB_INTERFACE_NUM}=="02", KERNELS=="2-1:1.*", SYMLINK+="tty3GLOG0"
SUBSYSTEMS=="usb", KERNEL=="ttyACM*", DRIVERS=="cdc_acm", ACTION=="add", ENV{ID_VENDOR_ID}=="1519", ENV{ID_MODEL_ID}=="0302", ENV{ID_USB_INTERFACE_NUM}=="04", KERNELS=="2-1:1.*", SYMLINK+="tty3GLOG1"

LABEL="tty_end"
